.site-header {
  border-top: 0;
}
.site-nav .page-link {
  color: #424242;
}
.post-link {
  color: #111111;
}
.read-more {
  font-size: 0.9em;
}
.social-list {
  list-style-type: none;
  display: table;
  margin: 0 auto;
}
.social-icon {
  float: left;
  margin: 0px 5px 0px 5px;
}
